<div class="filter">
  <input
    type="text"
    placeholder="Поиск"
    [(ngModel)]="filter"
  >
  <button (click)="clearFilter()">Очистить</button>
</div>

<div *ngIf="!loading">

  <table class="table" *ngIf="(listNews | tableFilter: filter).length; else noData">
    <thead>
      <tr>
        <th>Заголовок</th>
        <th>Источник</th>
        <th>Дата публикации</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listNews | tableFilter: filter">
        <td class="td_text" routerLinkActive="active" [routerLink]="['fullNews', item.id]">{{item.title}}</td>
        <td>{{item.newsSite}}</td>
        <td>{{item.publishedAt | tableFormatDate: item.publishedAt}}</td>
      </tr>
    </tbody>
  </table>

  <ng-template #noData>
    <div >Ничего не найдено</div>
  </ng-template>

</div>
<div class="spinner" *ngIf="loading"></div>
